.mypage-info{
  font-family: NanumBarunGothicOTF;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 50px;
}

.mypage-info a {
  color: #0f0f0f;
}

.info-change{

}

.mylike{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.log-out{

}
